<ion-header>
  <ion-toolbar>
    <img src="assets/logo.png" alt="logo image" class="logo">

    <ion-buttons slot="end">
      <ion-button (click)="toggleMenu()">
        <ion-icon name="menu" class="menu-icon"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- dropdown menu -->
<div class="menu" [class.open]="menuOpen">
  <a (click)="navHome()" [ngClass]="{'active-nav': currentPage === 'home'}">Određivanje datuma i putnika</a>
  <a (click)="navInfo()" [ngClass]="{'active-nav': currentPage === 'info'}">Izbor termina i podaci naručitelja</a>
  <a (click)="navPotvrda()" [ngClass]="{'active-nav': currentPage === 'potvrda'}">Potvrda narudžbe</a>
  <a (click)="navList()" [ngClass]="{'active-nav': currentPage === 'kapetan'}">Pregled rezervacija</a>
  <a (click)="navChange()" [ngClass]="{'active-nav': currentPage === 'promjena-rezervacije'}">Promjena rezervacije</a>
  <a (click)="navScanner()" [ngClass]="{'active-nav': currentPage === 'scanner'}">Skener karata</a>
</div>

<ion-content>
  <h1 class="title">Skener karata</h1>
  <ion-list>
    <ion-item *ngFor="let barcode of barcodes">
      <ion-label position="stacked">{{ barcode.format }}</ion-label>
      <ion-input type="text" [value]="barcode.rawValue"></ion-input>
    </ion-item>
  </ion-list>

  <div class="ticket-container">
    <img *ngIf="!scanned" class="qr-border" src="assets/qr_border.png" alt="qr border">
    <div *ngIf="userData" class="qr-data" [ngStyle]="{ 'background-color': bgColor, 'color': textColor }">
          <h2>Informacije o narudžbi</h2>
        <section>
          <p><strong>Ime:</strong> {{ userData.name }}</p>
          <p><strong>E-mail:</strong> {{ userData.mail }}</p>
          <p><strong>Datum:</strong> {{ userData.startdate }}</p>
          <p><strong>Vrijeme:</strong> {{ userData.starttime }}</p>
          <p><strong>Djece:</strong> {{ userData.numberkids }}</p>
          <p><strong>Mlađi:</strong> {{ userData.numberteens }}</p>
          <p><strong>Odrasli:</strong> {{ userData.numberadults }}</p>
        </section>
    </div>

    <div *ngIf="reservedData && bgColor === 'yellow'" class="qr-reserved" [ngStyle]="{ 'background-color': bgColor }">
     <h2>Cijena karte: {{ reservedData.price }},00 € </h2>

     <section>
          <p><strong>Ime:</strong> {{ reservedData.name }}</p>
          <p><strong>E-mail:</strong> {{ reservedData.mail }}</p>
          <p><strong>Datum:</strong> {{ reservedData.startdate }}</p>
          <p><strong>Vrijeme:</strong> {{ reservedData.starttime }}</p>
          <p><strong>Djece:</strong> {{ reservedData.numberkids }}</p>
          <p><strong>Mlađi:</strong> {{ reservedData.numberteens }}</p>
          <p><strong>Odrasli:</strong> {{ reservedData.numberadults }}</p>
        </section>

   </div>
  
    <div *ngIf="!userData && bgColor === 'red'" class="qr-error" [ngStyle]="{ 'background-color': bgColor, 'color': textColor }">
      <h2>Karta neispravna</h2>
      <p>Ova karta je već prodana.</p>
    </div>

  </div>
  
    <ion-button (click)="scan()" class="scanBtn">
      SCAN
    </ion-button>

</ion-content>
