<ion-header>
  <ion-toolbar>
    <img src="assets/logo.png" alt="logo image" class="logo">

    <ion-buttons slot="end">
      <ion-button (click)="toggleMenu()">
        <ion-icon name="menu" class="menu-icon"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- dropdown menu -->
<div class="menu" [class.open]="menuOpen">
  <a (click)="navHome()" [ngClass]="{'active-nav': currentPage === 'home'}">Određivanje datuma i putnika</a>
  <a (click)="navInfo()" [ngClass]="{'active-nav': currentPage === 'info'}">Izbor termina i podaci naručitelja</a>
  <a (click)="navPotvrda()" [ngClass]="{'active-nav': currentPage === 'potvrda'}">Potvrda narudžbe</a>
  <a (click)="navList()" [ngClass]="{'active-nav': currentPage === 'kapetan'}">Pregled rezervacija</a>
  <a (click)="navChange()" [ngClass]="{'active-nav': currentPage === 'promjena-rezervacije'}">Promjena rezervacije</a>
  <a (click)="navScanner()" [ngClass]="{'active-nav': currentPage === 'scanner'}">Skener karata</a>
  <a (click)="logout()">Odjava</a>
</div>

<ion-content>
  <h1 class="title">Promjena rezervacije</h1>

  <ion-list>
    <ion-item *ngFor="let barcode of barcodes">
      <ion-label position="stacked">{{ barcode.format }}</ion-label>
      <ion-input type="text" [value]="barcode.rawValue"></ion-input>
    </ion-item>
  </ion-list>

  <div class="ticket-container">
    <img *ngIf="!scanned" class="qr-border" src="assets/qr_border.png" alt="qr border">
        <div 
      *ngIf="status === 'success'" 
      class="qr-data"
      [ngStyle]="{ 'background-color': bgColor, 'color': textColor }"
    >
      <h2>{{ message }}</h2>
    </div>

    <div 
      *ngIf="status === 'error'" 
      class="qr-error"
      [ngStyle]="{ 'background-color': bgColor, 'color': textColor }"
    >
      <h2>{{ message }}</h2>
    </div>

  </div>
  
    <ion-button (click)="scan()" class="scanBtn">
      SCAN
    </ion-button>

</ion-content>
