  <ion-header>
  <ion-toolbar>
    <img src="assets/logo.png" alt="logo image" class="logo">

    <ion-buttons slot="end">
      <ion-button (click)="toggleMenu()">
        <ion-icon name="menu" class="menu-icon"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- dropdown menu -->
<div class="menu" [class.open]="menuOpen">
  <a (click)="navHome()" [ngClass]="{'active-nav': currentPage === 'home'}">Određivanje datuma i putnika</a>
  <a (click)="navInfo()" [ngClass]="{'active-nav': currentPage === 'info'}">Izbor termina i podaci naručitelja</a>
  <a (click)="navPotvrda()" [ngClass]="{'active-nav': currentPage === 'potvrda'}">Potvrda narudžbe</a>
  <a (click)="navIzdavanje()" [ngClass]="{'active-nav': currentPage === 'kapetan'}">Izdavanje karte i računa</a>
  <a (click)="navScanner()" [ngClass]="{'active-nav': currentPage === 'scanner'}">Skener karata</a>
</div>

<ion-content [fullscreen]="true">
  <div class="container">
    <h1>Slobodni termini na izabrani dan</h1>
      
    <div class="select-container">
      <ion-radio-group [(ngModel)]="vrijeme">
      <ion-item class="date" lines="none">
      <ion-radio slot="start" value="09:00:00"></ion-radio>
      <ion-label>
        <h2> <b>09:00:00</b>-Dnevna-cijena: <b>0 €</b></h2>
      </ion-label>
      </ion-item>
      
      <ion-item class="date" lines="none">
      <ion-radio slot="start" value="10:00:00"></ion-radio>
      <ion-label>
      <h2><b>10:00:00</b>-Dnevna-cijena: <b>0 €</b></h2>
      </ion-label>
      </ion-item>

      <ion-item class="date" lines="none">
      <ion-radio slot="start" value="11:00:00"></ion-radio>
      <ion-label>
      <h2><b>11:00:00</b>-Dnevna-cijena: <b>0 €</b></h2>
      </ion-label>
      </ion-item>

      <ion-item class="date" lines="none">
      <ion-radio slot="start" value="12:00:00"></ion-radio>
      <ion-label>
      <h2><b>12:00:00</b>-Dnevna-cijena: <b>0 €</b></h2>
      </ion-label>
      </ion-item>

      <ion-item class="date" lines="none">
      <ion-radio slot="start" value="13:00:00"></ion-radio>
      <ion-label>
      <h2><b>13:00:00</b>-Dnevna-cijena: <b>0 €</b></h2>
      </ion-label>
      </ion-item>

      <ion-item class="date" lines="none">
      <ion-radio slot="start" value="14:00:00"></ion-radio>
      <ion-label>
      <h2><b>14:00:00</b>-Dnevna-cijena: <b>0 €</b></h2>
      </ion-label>
      </ion-item>

      <ion-item class="date" lines="none">
      <ion-radio slot="start" value="15:00:00"></ion-radio>
      <ion-label>
      <h2><b>15:00:00</b>-Dnevna-cijena: <b>0 €</b></h2>
      </ion-label>
      </ion-item>

      <ion-item class="date" lines="none">
      <ion-radio slot="start" value="16:00:00"></ion-radio>
      <ion-label>
      <h2><b>16:00:00</b>-Dnevna-cijena: <b>0 €</b></h2>
      </ion-label>
      </ion-item>

      <ion-item class="date" lines="none">
      <ion-radio slot="start" value="17:00:00"></ion-radio>
      <ion-label>
      <h2><b>17:00:00</b>-Dnevna-cijena: <b>0 €</b></h2>
      </ion-label>
      </ion-item>

      <ion-item class="date" lines="none">
      <ion-radio slot="start" value="18:00:00"></ion-radio>
      <ion-label>
      <h2><b>18:00:00</b>-Dnevna-cijena: <b>0 €</b></h2>
      </ion-label>
      </ion-item>

      <ion-item class="date" lines="none">
      <ion-radio slot="start" value="19:00:00"></ion-radio>
      <ion-label>
      <h2><b>19:00:00</b>-Dnevna-cijena: <b>0 €</b></h2>
      </ion-label>
      </ion-item>

      <ion-item class="date" lines="none">
      <ion-radio slot="start" value="20:00:00"></ion-radio>
      <ion-label>
      <h2><b>20:00:00</b>-Dnevna-cijena: <b>0 €</b></h2>
      </ion-label>
      </ion-item>

      <ion-item class="date" lines="none">
      <ion-radio slot="start" value="21:00:00"></ion-radio>
      <ion-label>
      <h2><b>21:00:00</b>-Dnevna-cijena: <b>0 €</b></h2>
      </ion-label>
      </ion-item>

      <ion-item class="date" lines="none">
      <ion-radio slot="start" value="21:40:00"></ion-radio>
      <ion-label>
      <h2><b>21:40:00</b>-Dnevna-cijena: <b>0 €</b></h2>
      </ion-label>
      </ion-item>

      <ion-item class="date" lines="none">
      <ion-radio slot="start" value="22:25:00"></ion-radio>
      <ion-label>
      <h2><b>22:25:00</b>-Dnevna-cijena: <b>0 €</b></h2>
      </ion-label>
      </ion-item>
      </ion-radio-group>
    </div>

  <h1>Osobni podaci</h1>

<div class="select-container">
  <ion-label>
      <h2>
        Ime
      </h2>
    </ion-label>
  <ion-item>
    <ion-input [(ngModel)]="ime"></ion-input>
  </ion-item>

  <ion-label>
      <h2>
        Prezime
      </h2>
    </ion-label>
  <ion-item>
    <ion-input [(ngModel)]="prezime"></ion-input>
  </ion-item>

  <ion-label>
      <h2>Telefon/mobitel</h2>
    </ion-label>
  <ion-item>
    <ion-input [(ngModel)]="telefon"></ion-input>
  </ion-item>

  <ion-label>
      <h2>E-mail</h2>
    </ion-label>
  <ion-item>
    <ion-input [(ngModel)]="email"></ion-input>
  </ion-item>

  <ion-label>
      <h2>Poruka/napomena</h2>
    </ion-label>
  <ion-item>
    <ion-textarea [(ngModel)]="poruka"></ion-textarea>
  </ion-item>

    </div>
    
    <ion-button expand="block" (click)="navPotvrda()">Potvrda narudžbe i naplata</ion-button>
  </div>

  <ion-footer>
  <div class="footer-container">
    <h1>Contact us</h1>
  <p>+385 91 565 3222</p>
  <p>info@semisubmarine-pakostane.com</p>

  <h1>Adress</h1>
  <p>Obala kralja Petra Zvonimira IV bb</p>
  <p>Pakoštane, Croatia</p>

  <img src="assets/logo-white.png" alt="logo image" class="logo">

  <div class="cards-div">
    <img src="assets/corvus.png" alt="corvuspay" class="cards">
    <img src="assets/visa.png" alt="visa" class="cards">
    <img src="assets/mastercard.png" alt="mastercard" class="cards">
    <img src="assets/maestro.png" alt="maestro" class="cards">
    <img src="assets/diners.png" alt="diners" class="cards">
    <img src="assets/visa-secure.png" alt="visa-secure" class="cards">
    <img src="assets/diners-online.png" alt="diners online" class="cards">
    <img src="assets/mastercard2.png" alt="mastercard2" class="cards">
  </div>
  </div>
</ion-footer>

</ion-content>


