  <ion-header>
  <ion-toolbar>
    <img src="assets/logo.png" alt="logo image" class="logo">

    <ion-buttons slot="end">
      <ion-button (click)="toggleMenu()">
        <ion-icon name="menu" class="menu-icon"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- dropdown menu -->
<div class="menu" [class.open]="menuOpen">
  <a (click)="navHome()" [ngClass]="{'active-nav': currentPage === 'home'}">Određivanje datuma i putnika</a>
  <a (click)="navInfo()" [ngClass]="{'active-nav': currentPage === 'info'}">Izbor termina i podaci naručitelja</a>
  <a (click)="navPotvrda()" [ngClass]="{'active-nav': currentPage === 'potvrda'}">Potvrda narudžbe</a>
  <a (click)="navList()" [ngClass]="{'active-nav': currentPage === 'kapetan'}">Pregled rezervacija</a>
  <a (click)="navChange()" [ngClass]="{'active-nav': currentPage === 'promjena-rezervacije'}">Pregled rezervacija</a>
  <a (click)="navScanner()" [ngClass]="{'active-nav': currentPage === 'scanner'}">Skener karata</a>
</div>

<ion-content [fullscreen]="true">
  <div class="container">
    <h1>Slobodni termini na izabrani dan</h1>
      
    <div class="select-container">
      <ion-radio-group [(ngModel)]="vrijeme">
        <ion-item *ngFor="let t of productTimes" lines="none" class="radio-container">
  
          <ion-radio slot="start" [value]="t.title"></ion-radio>

          <ion-label>
            <h2 class="price">
              <b>{{ t.title.length === 2 ? (t.title + ':00') : t.title }}</b>
              - {{ getTypeTitle(t.producttypes) }}
              - Cijena:
              <b>{{ t.calculatedPrice }} €</b>
            </h2>
          </ion-label>

        </ion-item>
      </ion-radio-group>
    </div>

  <h1>Kupnja/rezervacija</h1>

<div class="select-container">
  <ion-label>
      <h2>
        Ime
      </h2>
    </ion-label>
  <ion-item>
    <ion-input [(ngModel)]="ime"></ion-input>
  </ion-item>

  <ion-label>
  <h2>Vrsta narudžbe</h2>
  </ion-label>

  <ion-item>
    <ion-select [(ngModel)]="orderMode">
      <ion-select-option value="karta">Kupnja karte</ion-select-option>
      <ion-select-option value="rezervacija">Rezervacija</ion-select-option>
    </ion-select>
  </ion-item>

  <div *ngIf="orderMode === 'karta'">
      <ion-label>
        <h2>Način plaćanja</h2>
      </ion-label>

      <ion-item>
        <ion-select [(ngModel)]="paymentType">
          <ion-select-option value="cash">Gotovina</ion-select-option>
          <ion-select-option value="card">Kartica</ion-select-option>
        </ion-select>
      </ion-item>

    </div>
</div>
        
    <ion-button expand="block" (click)="navPotvrda()">Potvrda</ion-button>
  </div>

  <ion-footer>
  <div class="footer-container">
    <h1>Contact us</h1>
  <p>+385 91 565 3222</p>
  <p>info@semisubmarine-pakostane.com</p>

  <h1>Adress</h1>
  <p>Obala kralja Petra Zvonimira IV bb</p>
  <p>Pakoštane, Croatia</p>

  <img src="assets/logo-white.png" alt="logo image" class="logo">

  <div class="cards-div">
    <img src="assets/corvus.png" alt="corvuspay" class="cards">
    <img src="assets/visa.png" alt="visa" class="cards">
    <img src="assets/mastercard.png" alt="mastercard" class="cards">
    <img src="assets/maestro.png" alt="maestro" class="cards">
    <img src="assets/diners.png" alt="diners" class="cards">
    <img src="assets/visa-secure.png" alt="visa-secure" class="cards">
    <img src="assets/diners-online.png" alt="diners online" class="cards">
    <img src="assets/mastercard2.png" alt="mastercard2" class="cards">
  </div>
  </div>
</ion-footer>

</ion-content>


