<ion-header>
  <ion-toolbar>
    <img src="assets/logo.png" alt="logo image" class="logo">

    <ion-buttons slot="end">
      <ion-button (click)="toggleMenu()">
        <ion-icon name="menu" class="menu-icon"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- dropdown menu -->
<div class="menu" [class.open]="menuOpen">
  <a (click)="navHome()" [ngClass]="{'active-nav': currentPage === 'home'}">Određivanje datuma i putnika</a>
  <a (click)="navInfo()" [ngClass]="{'active-nav': currentPage === 'info'}">Izbor termina i podaci naručitelja</a>
  <a (click)="navPotvrda()" [ngClass]="{'active-nav': currentPage === 'potvrda'}">Potvrda narudžbe</a>
  <a (click)="navList()" [ngClass]="{'active-nav': currentPage === 'kapetan'}">Pregled rezervacija</a>
  <a (click)="navChange()" [ngClass]="{'active-nav': currentPage === 'promjena-rezervacije'}">Promjena rezervacije</a>
  <a (click)="navScanner()" [ngClass]="{'active-nav': currentPage === 'scanner'}">Skener karata</a>
</div>


<ion-content [fullscreen]="true">
  <ng-container *ngIf="daySchedules?.length">
    <div class="conteinar" *ngFor="let d of daySchedules">

  <h1>
    {{ d.day | date:'dd.MM.yyyy' }} -
    {{ d.day | date:'EEEE':'':'hr' }}
  </h1>

  <h2>Vožnje</h2>

  <div class="tabela">
  <!-- HEADER -->
  <div class="header">Početak</div>
  <div class="header">Ukupno</div>
  <div class="header">Riva pakoštane</div>
  <div class="header">Pine beach</div>

  <!-- ROWS -->
  <ng-container *ngFor="let row of d.rows">
    <div class="time" (click)="openOrders(d.day, row.time)">{{ row.time }}</div>
    <div class="total" [ngClass]="{ 'full': row.total >= 12 }">{{ row.total }}</div>
    <div class="riva" [ngClass]="{ 'full': row.riva >= 12 }">{{ row.riva }}</div>
    <div class="pine" [ngClass]="{ 'full': row.pine_beach >= 12 }">{{ row.pine_beach }}</div>
  </ng-container>
  </div>
  </div>
</ng-container>

</ion-content>
