<ion-header>
  <ion-toolbar>
    <img src="assets/logo.png" alt="logo image" class="logo">

    <ion-buttons slot="end">
      <ion-button (click)="toggleMenu()">
        <ion-icon name="menu" class="menu-icon"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- dropdown menu -->
<div class="menu" [class.open]="menuOpen">
  <a (click)="navHome()" [ngClass]="{'active-nav': currentPage === 'home'}">Određivanje datuma i putnika</a>
  <a (click)="navInfo()" [ngClass]="{'active-nav': currentPage === 'info'}">Izbor termina i podaci naručitelja</a>
  <a (click)="navPotvrda()" [ngClass]="{'active-nav': currentPage === 'potvrda'}">Potvrda narudžbe</a>
  <a (click)="navIzdavanje()" [ngClass]="{'active-nav': currentPage === 'kapetan'}">Pregled rezervacija</a>
  <a (click)="navScanner()" [ngClass]="{'active-nav': currentPage === 'scanner'}">Skener karata</a>
</div>


<ion-content [fullscreen]="true">
  <div class="conteinar" *ngFor="let day of days">
    <h1>{{ day | date:'dd.MM.yyyy' }} - {{ day | date:'EEEE':'':'hr' }}</h1>

  <h2>Vožnje</h2>

  <div class="tabela">
    
  <div class="vrijeme">
    <h3>Početak</h3>
    <p *ngFor="let time of times">{{ time }}</p>
  </div>
  <div class="mjesto">
  <h3>Riva pakoštane</h3>
  <div class="amount">
    <p *ngFor="let time of times">
      {{
        racunService.getPassengersByDateAndTime(day, time)
      }}
    </p>
  </div>
  </div>

  </div>
  
  </div>

  <ion-footer>
  <div class="footer-container">
    <h1>Contact us</h1>
  <p>+385 91 565 3222</p>
  <p>info@semisubmarine-pakostane.com</p>

  <h1>Adress</h1>
  <p>Obala kralja Petra Zvonimira IV bb</p>
  <p>Pakoštane, Croatia</p>

  <img src="assets/logo-white.png" alt="logo image" class="logo">

  <div class="cards-div">
    <img src="assets/corvus.png" alt="corvuspay" class="cards">
    <img src="assets/visa.png" alt="visa" class="cards">
    <img src="assets/mastercard.png" alt="mastercard" class="cards">
    <img src="assets/maestro.png" alt="maestro" class="cards">
    <img src="assets/diners.png" alt="diners" class="cards">
    <img src="assets/visa-secure.png" alt="visa-secure" class="cards">
    <img src="assets/diners-online.png" alt="diners online" class="cards">
    <img src="assets/mastercard2.png" alt="mastercard2" class="cards">
  </div>
  </div>
</ion-footer>

</ion-content>
