ion-toolbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  display: flex;
  justify-content: flex-end;
}

a .phone {
  color: black;
}

h1 {
  text-align: center;
  color: #e60a24;
  font-size: 2.5rem;
  text-transform: uppercase;
  margin-top: 5rem;
}

h2 {
  text-align: center; 
}

.ticket-container{
  height: auto;
  width: 80vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  //top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 12rem;
}

.ticket-container img {
  width: 100%;
  height: 100%;
}

.qr-data {
  width: 100%;
  height: 100%;
  padding: 1rem;

}

ion-button {
  --background: #096b9c;
  --color: white;
  width: 80%;
  height: 10%;
  font-size: 1.5rem;
  position: absolute;
  //bottom: 0%;
  left: 10%;
  margin-top: 25rem;
}
