  <ion-header>
  <ion-toolbar>
    <img src="assets/logo.png" alt="logo image" class="logo">

    <ion-buttons slot="end">
      <ion-button (click)="toggleMenu()">
        <ion-icon name="menu" class="menu-icon"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- dropdown menu -->
<div class="menu" [class.open]="menuOpen">
  <a (click)="navHome()" [ngClass]="{'active-nav': currentPage === 'home'}">Određivanje datuma i putnika</a>
  <a (click)="navInfo()" [ngClass]="{'active-nav': currentPage === 'info'}">Izbor termina i podaci naručitelja</a>
  <a (click)="navPotvrda()" [ngClass]="{'active-nav': currentPage === 'potvrda'}">Potvrda narudžbe</a>
  <a (click)="navList()" [ngClass]="{'active-nav': currentPage === 'kapetan'}">Pregled rezervacija</a>
  <a (click)="navChange()" [ngClass]="{'active-nav': currentPage === 'promjena-rezervacije'}">Promjena rezervacije</a>
  <a (click)="navScanner()" [ngClass]="{'active-nav': currentPage === 'scanner'}">Skener karata</a>
</div>

<ion-content [fullscreen]="true">
  <div class="container">
    <h1>Izaberite datum</h1>

<div class="select-container">
  <h2>Datum vožnje</h2>
  <ion-item button (click)="isDateModalOpen = true">
      {{ datum ? (datum | date:'yyyy-MM-dd') : '' }}
  </ion-item>

      <ion-modal [isOpen]="isDateModalOpen" (didDismiss)="isDateModalOpen = false" class="calendar">
        <ng-template>
          <ion-content>
            <ion-datetime
              presentation="date"
              [min]="minDate"
              [max]="maxDate"
              (ionChange)="onDateChange($event)">
            </ion-datetime>

            <ion-button expand="block" (click)="isDateModalOpen = false">
              Potvrdi
            </ion-button>
          </ion-content>
        </ng-template>
      </ion-modal>
    </div>
    
    <h1>Broj putnika (max 12)</h1>
    <div class="select-container">
      <h2>Broj odraslih putnika (stariji od 15 godina) </h2>
    <ion-select [(ngModel)]="odrasli">
      <ion-select-option *ngFor="let n of getAllowedNumbers('odrasli')" [value]="n">{{n}}</ion-select-option>
    </ion-select>

    <h2>Broj putnika 3 - 14 godina </h2>
    <ion-select [(ngModel)]="djeca">
      <ion-select-option *ngFor="let n of getAllowedNumbers('djeca')"  [value]="n">{{n}}</ion-select-option>
    </ion-select>

    <h2>Broj putnika 0 - 2 godine </h2>
    <ion-select [(ngModel)]="bebe">
      <ion-select-option *ngFor="let n of getAllowedNumbers('bebe')" [value]="n">{{n}}</ion-select-option>
    </ion-select>
    </div>
    
    <ion-button expand="block" (click)="navInfo()">Sljedeći korak</ion-button>
  </div>
</ion-content>


