  <ion-header>
  <ion-toolbar>
    <img src="assets/logo.png" alt="logo image" class="logo">

    <ion-buttons slot="end">
      <ion-button (click)="toggleMenu()">
        <ion-icon name="menu" class="menu-icon"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- dropdown menu -->
<div class="menu" [class.open]="menuOpen">
  <a (click)="navHome()" [ngClass]="{'active-nav': currentPage === 'home'}">Određivanje datuma i putnika</a>
  <a (click)="navInfo()" [ngClass]="{'active-nav': currentPage === 'info'}">Izbor termina i podaci naručitelja</a>
  <a (click)="navPotvrda()" [ngClass]="{'active-nav': currentPage === 'potvrda'}">Potvrda narudžbe</a>
  <a (click)="navIzdavanje()" [ngClass]="{'active-nav': currentPage === 'list'}">Izdavanje karte i računa</a>
  <a (click)="navScanner()" [ngClass]="{'active-nav': currentPage === 'scanner'}">Skener karata</a>
</div>

<ion-content [fullscreen]="true">
  <div class="container">
    <h1>Podaci o narudžbi i naručitelju</h1>

    <div class="select-container">
      <ion-label>
          <h2>
            Polazna točka: 
          </h2>
        </ion-label>
      <ion-item lines="none">
        <p>Riva pakoštane</p>
      </ion-item>

      <ion-label>
          <h2>
            Vrijeme polaska: 
          </h2>
        </ion-label>
      <ion-item lines="none">
        <p>09:00:00</p>
      </ion-item>

      <ion-label>
          <h2>
            Izabrani datum: 
          </h2>
        </ion-label>
      <ion-item lines="none">
        <p>01.01.2026</p>
      </ion-item>

      <ion-label>
          <h2>
            Broj putnika: 
          </h2>
        </ion-label>
      <ion-item lines="none">
        <p>0</p>
      </ion-item>

      <ion-label>
          <h2>
            Cijena: 
          </h2>
        </ion-label>
      <ion-item lines="none">
        <p>0 €</p>
      </ion-item>

      <ion-label>
          <h2>
            Ime: 
          </h2>
        </ion-label>
      <ion-item lines="none">
        <p>Ana</p>
      </ion-item>

      <ion-label>
          <h2>
            Prezime: 
          </h2>
        </ion-label>
      <ion-item lines="none">
        <p>Anić</p>
      </ion-item>

      <ion-label>
          <h2>
            Telefon/mobitel: 
          </h2>
        </ion-label>
      <ion-item lines="none">
        <p>+385 123 456 789</p>
      </ion-item>

      <ion-label>
          <h2>
            E-mail: 
          </h2>
        </ion-label>
      <ion-item lines="none">
        <p>test@test.com</p>
      </ion-item>

      <ion-label>
          <h2>
            Poruka/napomena: 
          </h2>
        </ion-label>
      <ion-item lines="none">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea quo repudiandae qui exercitationem nam minima molestiae magni similique! Id officia eum nihil architecto explicabo aliquid ut harum accusantium sequi ad.
        Earum dolorem repudiandae cumque culpa ad veniam atque minus, aspernatur quod similique dolore repellat quis molestiae, autem quam, officia et odit nesciunt nostrum? Eius, blanditiis beatae? Officiis ratione consequuntur ullam.</p>
      </ion-item>
    </div>

       <ion-button expand="block" >Naplata</ion-button>
    </div>
  <ion-footer>
  <div class="footer-container">
    <h1>Contact us</h1>
  <p>+385 91 565 3222</p>
  <p>info@semisubmarine-pakostane.com</p>

  <h1>Adress</h1>
  <p>Obala kralja Petra Zvonimira IV bb</p>
  <p>Pakoštane, Croatia</p>

  <img src="assets/logo-white.png" alt="logo image" class="logo">

  <div class="cards-div">
    <img src="assets/corvus.png" alt="corvuspay" class="cards">
    <img src="assets/visa.png" alt="visa" class="cards">
    <img src="assets/mastercard.png" alt="mastercard" class="cards">
    <img src="assets/maestro.png" alt="maestro" class="cards">
    <img src="assets/diners.png" alt="diners" class="cards">
    <img src="assets/visa-secure.png" alt="visa-secure" class="cards">
    <img src="assets/diners-online.png" alt="diners online" class="cards">
    <img src="assets/mastercard2.png" alt="mastercard2" class="cards">
  </div>
  </div>
</ion-footer>

</ion-content>


