  <ion-header>
  <ion-toolbar>
    <img src="assets/logo.png" alt="logo image" class="logo">

    <ion-buttons slot="end">
      <ion-button (click)="toggleMenu()">
        <ion-icon name="menu" class="menu-icon"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- dropdown menu -->
<div class="menu" [class.open]="menuOpen">
  <a (click)="navHome()" [ngClass]="{'active-nav': currentPage === 'home'}">Određivanje datuma i putnika</a>
  <a (click)="navInfo()" [ngClass]="{'active-nav': currentPage === 'info'}">Izbor termina i podaci naručitelja</a>
  <a (click)="navPotvrda()" [ngClass]="{'active-nav': currentPage === 'potvrda'}">Potvrda narudžbe</a>
  <a (click)="navList()" [ngClass]="{'active-nav': currentPage === 'kapetan'}">Pregled rezervacija</a>
  <a (click)="navChange()" [ngClass]="{'active-nav': currentPage === 'promjena-rezervacije'}">Promjena rezervacije</a>
  <a (click)="navScanner()" [ngClass]="{'active-nav': currentPage === 'scanner'}">Skener karata</a>
  <a (click)="logout()">Odjava</a>
</div>

<ion-content [fullscreen]="true">
  <div class="container">

    <h1>Podaci o narudžbi i naručitelju</h1>

    <div class="select-container">
      <ion-label>
          <h2>
            Vrijeme polaska: 
          </h2>
        </ion-label>
      <ion-item lines="none">
        <p>{{data?.vrijeme}}:00</p>
      </ion-item>

      <ion-label>
          <h2>
            Izabrani datum: 
          </h2>
        </ion-label>
      <ion-item lines="none">
        <p>{{ data?.datum | date:'dd.MM.yyyy' }}</p>
      </ion-item>

      <ion-label>
          <h2>
            Broj putnika: 
          </h2>
        </ion-label>
      <ion-item lines="none">
        <p>{{ totalPassengers }}</p>
      </ion-item>

      <ion-label>
          <h2>
            Cijena: 
          </h2>
        </ion-label>
      <ion-item lines="none">
        <p>{{data?.cijena}} €</p>
      </ion-item>

      <ion-label>
          <h2>
            Ime: 
          </h2>
        </ion-label>
      <ion-item lines="none">
        <p>{{data?.ime}}</p>
      </ion-item>

      <ion-label>
          <h2>
            E-mail: 
          </h2>
        </ion-label>
      <ion-item lines="none">
        <p>{{data?.email}}</p>
      </ion-item>

      <ion-label>
          <h2>
            Način plaćanja: 
          </h2>
        </ion-label>
      <ion-item lines="none">
        <p>{{data?.paymentType}}</p>
      </ion-item>
    </div>

       <ion-button expand="block" (click)="onPay()" *ngIf="!ticketCreated">Izrada karte</ion-button>

    <div class="message" *ngIf="ticketCreated"> 
      Nova karta je uspješno unesena.
    </div>

      <div class="ticket" *ngIf="ticketCreated" #ticketPDF>
  <div class="ticket-header">
    <h1>KARTA</h1>
  </div>

  <div class="ticket-body">

    <div class="ticket-row">
      <span class="label">Redni broj</span>
      <span class="value">{{ data.ticketNumber }}</span>
    </div>

    <div class="ticket-row">
      <span class="label">Datum</span>
      <span class="value">{{ formatDate(data.datum) }}</span>
    </div>

    <div class="ticket-row">
      <span class="label">Vrijeme</span>
      <span class="value">{{ data.vrijeme }}:00</span>
    </div>

    <div class="divider"></div>

    <div class="ticket-row">
      <span class="label">Ime</span>
      <span class="value">{{ data.ime }}</span>
    </div>

    <div class="ticket-row">
      <span class="label">E-mail</span>
      <span class="value">{{ data.email }}</span>
    </div>

    <div class="ticket-row">
      <span class="label">Putnici</span>
      <span class="value">{{ totalPassengers }}</span>
    </div>

    <div class="divider"></div>

    <div class="total">
      {{ data.cijena }} €
    </div>

    <img class="qr" [src]="qrCodeImage" />

    <div class="footer">
      HVALA
      <br />
      www.semisubmarine-pakostane.com
    </div>

  </div>
</div>

      <div class="receipt" *ngIf="ticketCreated && data.status === 2" #receiptPDF>

  <div class="center">
    <strong>PLAVA LAGUNA D.O.O.</strong><br>
    FRANE PETRIČA 10C, ZADAR<br>
    OIB: 33848595948<br><br>

    RIVA PAKOŠTANE<br>
    Riva u Pakoštanima
  </div>

  <div class="divider"></div>

  <div class="center">
    <strong>RAČUN {{ data.invoice_number }}</strong><br>
    {{ formatDate(data.datum) }} {{ data.vrijeme }}:00
  </div>

  <div class="divider"></div>

  <div class="row header">
  <span>Stavka</span>
  <span>Kol</span>
  <span>Cijena</span>
  <span>Iznos</span>
</div>

<div class="divider"></div>

<ng-container *ngIf="data.odrasli > 0">
  <div class="item-title">
    Odrasla karta - {{ data.vrstaVoznje }}
  </div>

  <div class="row">
    <span></span>
    <span>{{ data.odrasli }}</span>
    <span>{{ data.adultPrice }}</span>
    <span>{{ data.odrasli * data.adultPrice }}</span>
  </div>
</ng-container>

<ng-container *ngIf="data.djeca > 0">
  <div class="item-title">
    Dječja karta - {{ data.vrstaVoznje }}
  </div>

  <div class="row">
    <span></span>
    <span>{{ data.djeca }}</span>
    <span>{{ data.childPrice }}</span>
    <span>{{ data.djeca * data.childPrice }}</span>
  </div>
</ng-container>

<ng-container *ngIf="data.bebe > 0">
  <div class="item-title">
    Dijete do 2 godine - {{ data.vrstaVoznje }}
  </div>

  <div class="row">
    <span></span>
    <span>{{ data.bebe }}</span>
    <span>{{ data.babyPrice }}</span>
    <span>{{ data.bebe * data.babyPrice }}</span>
  </div>
</ng-container>

<div class="divider"></div>

<div class="row total">
  <span>UKUPNO</span>
  <span></span>
  <span></span>
  <span>{{ data.cijena }} €</span>
</div>

  <div class="divider"></div>

  <div class="row">
    <span>Način plaćanja</span>
    <span>{{ data.paymentType }}</span>
  </div>

  <div class="divider"></div>

  <div class="center">
    <span>*1 PDV nije zaračunat sukladno</span>
    <span>čl. 90. st. 2. Zakona o PDV-u</span>
  </div>

  <div class="divider"></div>

  <div class="center">
    Korinik: {{ username }}<br>
    JIR: {{ data.JIR }}<br>
    ZKI: {{ data.ZKI }}
  </div>

  <img class="qr" [src]="fiscalQrImage" />

  <div class="center small">
    www.semisubmarine-pakostane.com
    <br><br>
    Hvala! Thank you!
    <br><br>
    Fiskalna blagajna: Neosalon.hr
  </div>

  </div>

<div class="actions-wrapper" *ngIf="ticketCreated">

  <!-- PRINT -->
  <div class="action-card">
    <h2>Ispis karte</h2>

    <div class="select-container">
      <ion-select
        [(ngModel)]="selectedPrinter"
        (ionChange)="savePrinter()">

        <ion-select-option
          *ngFor="let d of devices"
          [value]="d.address">

          {{ d.name }}

        </ion-select-option>

      </ion-select>
    </div>

    <ion-button
      expand="block"
      (click)="printTicket()">

      Ispis

    </ion-button>
  </div>

  <!-- PDF -->
  <div class="action-card">
    <h2>PDF karta</h2>

    <ion-button
      expand="block"
      (click)="downloadPdf()"
      class="PDF-button">

      Preuzmi PDF

    </ion-button>

    <ion-button
      expand="block"
      fill="outline"
      (click)="showEmail = !showEmail">

      Pošalji emailom

    </ion-button>

    <div *ngIf="showEmail" class="email-box">

      <ion-item>
        <ion-input
          [(ngModel)]="email"
          type="email"
          placeholder="Upiši email">
        </ion-input>
      </ion-item>

      <ion-button
        expand="block"
        (click)="sendPdfEmail()"
        class="PDF-button">

        Pošalji PDF

      </ion-button>

    </div>
  </div>

</div>
  </div>
</ion-content>


