  <ion-header>
  <ion-toolbar>
    <img src="assets/logo.png" alt="logo image" class="logo">

    <ion-buttons slot="end">
      <ion-button (click)="toggleMenu()">
        <ion-icon name="menu" class="menu-icon"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- dropdown menu -->
<div class="menu" [class.open]="menuOpen">
  <a (click)="navHome()" [ngClass]="{'active-nav': currentPage === 'home'}">Određivanje datuma i putnika</a>
  <a (click)="navInfo()" [ngClass]="{'active-nav': currentPage === 'info'}">Izbor termina i podaci naručitelja</a>
  <a (click)="navPotvrda()" [ngClass]="{'active-nav': currentPage === 'potvrda'}">Potvrda narudžbe</a>
  <a (click)="navList()" [ngClass]="{'active-nav': currentPage === 'kapetan'}">Pregled rezervacija</a>
  <a (click)="navChange()" [ngClass]="{'active-nav': currentPage === 'promjena-rezervacije'}">Promjena rezervacije</a>
  <a (click)="navScanner()" [ngClass]="{'active-nav': currentPage === 'scanner'}">Skener karata</a>
</div>

<ion-content [fullscreen]="true">
  <div class="container">

    <h1>Podaci o narudžbi i naručitelju</h1>

    <div class="select-container">
      <ion-label>
          <h2>
            Vrijeme polaska: 
          </h2>
        </ion-label>
      <ion-item lines="none">
        <p>{{data?.vrijeme}}:00</p>
      </ion-item>

      <ion-label>
          <h2>
            Izabrani datum: 
          </h2>
        </ion-label>
      <ion-item lines="none">
        <p>{{ data?.datum | date:'dd.MM.yyyy' }}</p>
      </ion-item>

      <ion-label>
          <h2>
            Broj putnika: 
          </h2>
        </ion-label>
      <ion-item lines="none">
        <p>{{ totalPassengers }}</p>
      </ion-item>

      <ion-label>
          <h2>
            Cijena: 
          </h2>
        </ion-label>
      <ion-item lines="none">
        <p>{{data?.cijena}} €</p>
      </ion-item>

      <ion-label>
          <h2>
            Ime: 
          </h2>
        </ion-label>
      <ion-item lines="none">
        <p>{{data?.ime}}</p>
      </ion-item>

      <ion-label>
          <h2>
            Način plaćanja: 
          </h2>
        </ion-label>
      <ion-item lines="none">
        <p>{{data?.paymentType}}</p>
      </ion-item>
    </div>

    <h1>Odaberi printer</h1>
    <div class="select-container">
      <ion-select [(ngModel)]="selectedPrinter" (ionChange)="savePrinter()">
        <ion-select-option *ngFor="let d of devices" [value]="d.address">
          {{ d.name }}
        </ion-select-option>
      </ion-select>
    </div>

       <ion-button expand="block" (click)="onPay()">Izrada karte</ion-button>
    </div>

</ion-content>


